language: node_js
sudo: required
node_js:
- '4.2'
before_install:

  # Global install some npm
  - npm install -g grunt-cli

  # Install the app deps
  - cd "$TRAVIS_BUILD_DIR/app"
  - npm install --production
  - cd "$TRAVIS_BUILD_DIR"

  # Install kalabox
  - sudo apt-get -y update
  - sudo apt-get -y install iptables cgroup-bin bridge-utils curl
  - curl -fsSL -o /tmp/kalabox.deb "http://installer.kalabox.io/kalabox-latest-dev.deb"
  - sudo dpkg -i /tmp/kalabox.deb

before_script:

  # Move our latest app code to teh sysconfroot
  - mkdir -p "$HOME/.kalabox/plugins"
  - cp -rfa "$TRAVIS_BUILD_DIR/." "$HOME/.kalabox/plugins/kalabox-app-pantheon"

  # Nice dev helpers to verify our env
  - ./scripts/travis-env.sh

  # Sanity checks
  - node --version
  - npm --version
  - grunt --version
  - kbox version
  - kbox create || true

script:

  # Run code tests
  - grunt test:code
  # Ensure images
  - grunt test:images
  # Do the KALABOX_TEST_GROUP
  - grunt test:$KALABOX_TEST_GROUP

before_deploy:

  # Assume this is a dev release unless TRAVIS_TAG is defined
  - DEV=true
  - if [ ! -z "$TRAVIS_TAG" ]; then DEV=false; fi

  # Build the release
  - mkdir -p release
  - grunt pkg --dev=$DEV

  # Name the release depending on whether it is an official release or not
  - if [ -z "$TRAVIS_TAG" ]; then cp -rf dist/*.zip release/kalabox-app-pantheon-latest.zip; fi
  - if [ -z "$TRAVIS_TAG" ]; then cp -rf dist/*.tar.gz release/kalabox-app-pantheon-latest.tar.gz; fi

  # Official releases
  - if [ ! -z "$TRAVIS_TAG" ]; then cp -rf dist/*.zip release/kalabox-app-pantheon-$TRAVIS_TAG.zip; fi
  - if [ ! -z "$TRAVIS_TAG" ]; then cp -rf dist/*.tar.gz release/kalabox-app-pantheon-$TRAVIS_TAG.tar.gz; fi

cache:
  directories:
  - node_modules
notifications:
  irc:
  - chat.freenode.net#kalabox
  email:
    recipients:
    - mike@kalabox.io
    - alec@kalabox.io
    on_success: always
env:
  global:
  - secure: "apZk3xLoCM0pYUDDwVHXgTmSDb5oTwmMbSL8R4JE9/GinNh1Z13pFeJxtn5wwev4IRBOh1L4wBzuDyG0ksuAauVULZHi9C6YeiJSckdOjFHp3lEUHaOepwpfy72zeRaXRA7HhHIiRIgZ/ECPi38cLArPMeImZJBGglh1bgT0XR8SmRIhfRkIdjJdFCGy8ja5L2RXqLU6oLC+WV8M+Psx/p3MNws6vQ9Bj4rJOk+AfTYa7xlgStgujk7uWipOzJoS28dbuX3dTeshQXJSHxUsoW5LjxwHI87JisKQCCvXLrh1C8IIw1ZT4V10PCLCul4zincSS0MjqglqDGLyhdCz3nLhXdNSHFAXdjwNpNtyu1FVDebNi7UFounAJsfJyzaTqO8J+BTdLWd77kCM+R4TUWQigaCrgaxOGTwGQl7pFS+r26KTnUiCdk434qpt7j3oOW6Ee7MREweP22Xkx0tdXRIx6iAPESiTltC/LCOwhVdUPh4oYaLplag1uh9mmbImlZ74goXYZfqrSwAbVbZs2Uz15hhTY8W9eKK+SrjoCN6XCNu0KQR/xTesDm0+cwE/5d6VudHvPGdH/bVpR1b0Ox4+BtE4Yozno3/0KkcWKeuwku1ArfzPB5ptf4K8wYn+HTN+1bqGmdbY3p/7JUWwo8FaJskkF1lcAPQ1tb0G0Do="
  - DOCKER_HOST: tcp://10.13.37.100:2375
  matrix:
  - KALABOX_TEST_GROUP=drupal7
  - KALABOX_TEST_GROUP=drupal8
  - KALABOX_TEST_GROUP=backdrop
  - KALABOX_TEST_GROUP=wordpress
  - KALABOX_TEST_GROUP=drush
deploy:
  - provider: s3
    access_key_id: AKIAILURVAJDJA4ICBPQ
    secret_access_key:
      secure: Q7deScSi8rAcKfwQbdDF9b3W25Q4rE4ki6BvvVUaSv2hmD+uBsh9c30lqLDtw6lhPOFdihq8sir6eXZY3xJs5IptGKitjCgs2+dxFSCO2n+AlFUB42O3tva57mZ92dZfAyLfIVnbvl37l3mbGMrChFn7yQQJkt14jx3LqSzDEjMROs2j4jVFMGgRhIdHoxKDxPdcqA0+O+9dDH3YEHqEEWmJaHrFhZ3cN8yuKav/T5TBpxA7lg7WeZkMe2wepwrbXyvBE36NKiUYnn0p5hDejC4BttDGQXZvdLVpLFYxEhOJ75RuLpMp4JHtYS4wTfdB39DC0HfVy3cJzzrVSXjosdES+VhV8hqVCyoLoQiVEQmr15CYoLeFBjDb0if+ZvFP7S6kgldYxhVkhL53PuUPpfFlG8Z1SEN+tG1LLp4DTw1YMJzTW5JPIpjHmr2/JazTpIaAJ9hE2NPAAV9oc9w3OXlS+8+Wd2XS7SyN1yH9bOXI6Rws035bRvWW90EGzrfr1RnrIhtEtBCF6w7HH9T0g+vT8ClFb/gpe0TXya8AB1XKOglWY/ltvbqU8zs5rpSqlwRmfxME8cVF35MzmyCJ/P6Od8hmgQwmv27MZqyaSNgK3xtEelgdEulVmzHCTa6G8LcPN2GVjHFKUUDR4iVdVFBnIVEGUBwOo8+CIswrCek=
    bucket: apps.kalabox.io
    local-dir: release
    acl: public_read
    region: us-west-2
    skip_cleanup: true
    on:
      repo: kalabox/kalabox-app-pantheon
      branch: v2.0
  - provider: releases
    api_key:
      secure: ijAJXFDijXJpwcAtLVbpskEJVTFdQ1WBCNN246qZKiUAFvEDiFHfjEdm/UQAfSCUd5V1VLRLmOWx0X/b580ItZIJditA4W9Q3ym98GwcdeMTv8NBbklG61ogVkTLR86kpbWZKNJ1s9EsW4fAtn1Su4EjvXQnaTg0M/aoETyelfeta50LdwMV0vhRXG81LGtLcoU/bC4rO89yNVKTKPntTZIbn0I/Yu6pMewxbyLcP5KBS+D1uMrmLe//N6zSbH/s1t0UOy2lxv++pb+PpwQRDtqaVhLJ1Ut0DB/iqigm1uEkdpltLOfYLJBFot4mgWpSZrbz/m1hvM6ZxoXfa1VUVWijG7ktjNIWtaU6Cz+G+S5mhadSSOd6iAaka3wd4vK6BR2wndPoz0/1Vg/DpZFHh+/F207e3V/OhiRWYPbgjdx5JjoXd0DrW+3HHaoleZ8Ze67T8ews9epjqHVSnfYtELwC+dPoJDKcsxgnN1a540gh/YDGtdKKFC/8KSDcasjafeaRbBG75VzTzAlVtbaoFVFT9Pz7B+2CpELVusve2+sZGMa/dG9qSKcJlSNZX6FkrZLYDVh4t5719kKSq2gixBkxtQLiiHL400ZSdPu8LDAFLPyo0W/PARIdDPqMaRzKSX4beQaf+GUfz0MhyWh4WJ0cjjOtDTl0zq6dn+jlGHw=
    file:
      - release/kalabox-app-pantheon-$TRAVIS_TAG.tar.gz
      - release/kalabox-app-pantheon-$TRAVIS_TAG.zip
    skip_cleanup: true
    on:
      repo: kalabox/kalabox-app-pantheon
      tags: true
